
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
body{
  width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 10vh;
    background-color:#7781BE;
    opacity: 0.9;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo{
    font-size: 1.3rem;
}

header .navbar ul{
  list-style: none;
  margin: .2rem;
}
header .navbar ul li{
  position: relative;
  float: left;
  
}
header .navbar ul li a{
  font-size: 15px;
  padding: 1rem ;
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s ease-in-out;
}
header .navbar ul li a:hover{

transition: .3s ease-in-out;
}
.sub1{
  position: absolute;
  right: 0;
  width: 250px;
  display: none;
}
.sub1 li{
  width: 50%;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.sub2{
  position: absolute;
  left: 0;
  width: 100px;
  background-color: white;
  display: none;
}
.sub2 li{
  width: 50%;
  border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}


#menu-bar{
  display: none;
}
header label{
  font-size: 2rem;
  color: black;
  cursor: pointer;
  display: none;
}
#Home{
  height: 100vh;
    width: 100%;
    background-image: url(ice.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.landing-text{
  font-size: 5rem;
  padding-top: 6%;
  padding-left: 9%;
}
#About{
  padding: 20% 20%;
  background-color:#7781BE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
}
#about-body{
  display: block;
  align-items: center;
  justify-content: center;

}
#statement, #values, #tokenomics, #tokenomics-distribution,
#vision{
  font-size: 2.5rem;
  
}
#statement a, #values a, #tokenomics a, #tokenomics-distribution a,
#vision a{
  color: white;
  text-decoration: none;
}
.statement-text, .values-text, .tokenomics-text, .TD_text, .vision-text{
  font-size: 16px;
  font-family: roboto;
}
.container{
  border-radius: 1rem;
  border: 1px solid red;
}
#statment-block{

  background-color: whitesmoke;
}

.image{
  width: 60%;
  height: 60%;
}
.container-fluid{
  text-decoration: none;
}
.about-andrew{
  font-size: 16px;
}




















































@media (max-width:768px) {
    
  header{
  padding: 1rem;
  }
 header label{
  display: initial;
 }
 header .navbar{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid rgba(0,0,0,0.1);
  display: none;
  
 }
 header .navbar ul li{
  width: 100%;
 }
 header .navbar ul li ul{
  position: relative;
  width: 100%;
 }
 header .navbar ul li ul li{
  background-color: white;

 }
 header .navbar ul li ul li ul{
  width: 100%;
  left: 0;
 }
 #menu-bar:checked ~ .navbar{
  display:initial;
 }
 #About{
  padding: 20% 2%;
  background-color:#7781BE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
}

.image{
  width: 50%;
  height: 60%;
  clip-path: circle(4);
}
}